<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}
            Static Navigation - SB Admin
        {% endblock %}
    </title>
    <link rel="icon" type="image/jpg" href="{{ asset('assets/favicon.png') }}" />
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/stylestable.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/simple-datatable.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/upload-file.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" />

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}

    {% endblock %}

</head>

{# <body style="background:#f5f5f5;"> #}
{# <body style="background:url({{asset('assets/images/body-background.png')}});"> #}
<body>

{# <nav class="sb-topnav navbar navbar-expand " style="background:black;">
    <!-- Navbar Brand-->
    <a  href="{{ path('dashboard') }}" >
        <img class="navbar-brand ps-3" style="background:white;" src="{{ asset('assets/images/logo_obf.png')}}" alt="">
    </a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars" style="color:white;"></i></button>
    
    <div class="nav-item ms-auto me-0 me-md-3 my-2 my-md-0" style="font-family: 'Times New Roman';font-size:15px;font-weight:bold;color:white;">
        {% if app.user %} {{ app.user.email }} {% else %} Anonymous {% endif %}</i>
    </div>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" style="color:greenyellow;" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i style="font-size:large;color:greenyellow;" class="fas fa-user"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <div class="row" style="margin-left: 2%;">
                        <div class="col-md-8">
                            <a style="padding:0;" class="dropdown-item" href="#">Deconnexion</a>
                        </div>
                        <div class="col-md-2">
                            <i style="color:red;" class="fa fa-power-off" aria-hidden="true"> </i>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav> #}

<div id="layoutSidenav" style="width:100%;height:100%;position:absolute;overflow-y:false;">
        <div id="layoutSidenav_nav" style="">
            <nav class="sb-sidenav accordion card" id="sidenavAccordion" style="border:1px solid black;background-repeat:no;background:url({{asset('assets/images/sidebar.png')}});">
                <div class="sb-sidenav-menu" > 
                    <!-- Navbar Brand-->
                    <a  href="{{ path('dashboard') }}">
                        <img class="navbar-brand card" style="border-right:px solid black;background:white;width:100%;padding:2px;" src="{{ asset('assets/images/logo_obf.png')}}" alt="">
                    </a>            

                    {# <hr style="margin:0;padding:0;color:white;"> #}
                    <h6 style="color:white;font-weight:normal;text-align:center;">Gestion des extractions</h6>
                    <hr style="margin:0;padding:0;color:white;">
                    
                    <div class="nav">

                        {# Onglet1 #}
                        <a class="nav-link collapsed" style="color:white;" href="#" data-bs-toggle="collapse" data-bs-target="#onglet1" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon" ><i style="color:white;" class="fas fa-coins"></i></div>
                            MONETIQUE
                            <div class="sb-sidenav-collapse-arrow"><i style="color:white;" class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" style="background:#f5f5f5;color:white;" id="onglet1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav" >

                                {# <hr style="margin:0;padding:0;color:black;">
                                <a class="nav-link collapsed" style="color:black;" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon" ><i style="color:black;" class="fas fa-address-card"> Demandes</i></div>
                                    <div class="sb-sidenav-collapse-arrow"><i style="color:black;" class="fas fa-angle-down"></i></div>
                                </a>

                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="" style="background:#696969;margin-left:-50%;">
                                    <nav class="sb-sidenav-menu-nested nav" style="margin-left:40%;color:white;">
                                        <a class="nav-link" style="color:white;" href="#">
                                            <i style="color:white;" class="fas fa-calendar-check"> Recrutements</i>
                                        </a>
                                        <hr style="margin:0;padding:0;color:black;">
                                        <a class="nav-link" style="color:white;" href="#">
                                            <i style="color:white;" class="fas fa-calendar-plus"> Renouvellements</i>
                                        </a>
                                        <hr style="margin:0;padding:0;color:black;">
                                        <a class="nav-link" style="color:white;" href="#">
                                            <i style="color:white;" class="fas fa-calendar-times"> Ruptures</i>
                                        </a>
                                    </nav>
                                </div> #}

                                <hr style="margin:0;padding:0;color:black;">
                                <a class="nav-link" href="{{ path('dashboard') }}" style="color:black;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-upload" style="color:black;"> Chargements..</i></div>
                                </a>

                                <hr style="margin:0;padding:0;color:black;">
                                <a class="nav-link" href="{{ path('dashboard') }}" style="color:black;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-folder" style="color:black;"> Extractions</i></div>
                                </a>
                            </nav>
                        </div>
                        
                        <hr style="margin:0;padding:0;color:white;">

                    </div>
                </div>
            </nav>
        </div>
        {# style="background:url({{asset('assets/images/body-background.png')}});" #}

    <div id="layoutSidenav_content" >
        <main  style="
                background:url({{asset('assets/images/body-background.png')}});
                background-repeat: no-repeat;background-size: 100% 100%;
                padding-top:2%;width:100%;height:100%;position:absolute;overflow-y:auto;">
            <div class="container-fluid px-4">
                <h1 class="mt-4">
                    {% block pageTitle %}
                        
                    {% endblock %}
                </h1>
                <div class="">
                    {% for message in app.session.flashBag.get('info') %}
                        <div class="alert alert-info text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% block body %}
                        Template Body
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Gestion RH Orabank Burkina 2023 <strong>Emmanuel Claver DOMBWE</strong></div>
                </div>
            </div>
        </footer>
    </div>
</div>


<script src="{{ asset('assets/js/scripts.js') }}"></script>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/axios/dist/axios.min.js') }}"></script>
<script src="{{ asset('node_modules/select2/dist/js/select2.min.js')}}"></script>
<script src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.min.js')}}"></script>
<link href="{{ asset('node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}" rel="stylesheet"/>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>

{# <script src="{{ asset('assets/js/upload-file.js') }}"></script> #}
<script src="{{ asset('assets/js/simple-datatable.js') }}" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/datatables-simple-demo.js') }}"></script>


{{ encore_entry_script_tags('app') }}
{% block javascripts %} {% endblock %}

</body>
</html>

{#{% else %}#}
{#{% do redirect('app_login') %}#}
{#{% endi