<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>
        {% block title %}
           Gestion des extractions OBF
        {% endblock %}
    </title>
    <link rel="icon" type="image/jpg" href="{{ asset('assets/favicon.png') }}" />
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/loader-style.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/stylestable.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/upload-file.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('node_modules/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/progressbar-style.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/simple-datatable.css') }}" rel="stylesheet" />

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}

    {% endblock %}

</head>

{# <body style="background:#f5f5f5;"> #}
{# <body style="background:url({{asset('assets/images/body-background.png')}});"> #}
<body>


<div id="layoutSidenav" style="width:100%;height:100%;position:absolute;overflow-y:false;">
        <div id="layoutSidenav_nav card shadow-lg p-3 mb-5 bg-black rounded" style="">
            <nav class="sb-sidenav accordion " id="sidenavAccordion" style="border:0.5px solid black;background-repeat:no;background:url({{asset('assets/images/sidebar.png')}});">
                <div class="sb-sidenav-menu" >
                    <!-- Navbar Brand-->
                    <a  href="{{ path('fichiers') }}">
                        <img class="navbar-brand " style="border-bottom:0.5px solid black;background:white;width:100%;padding:2px;" src="{{ asset('assets/images/logo_obf.png')}}" alt="">
                    </a>

                    {# <hr style="margin:0;padding:0;color:white;"> #}
                    <h6 style="margin-top:0px;background:url({{asset('assets/images/body-background.png')}});font-weight:normal;text-align:center;">Gestion des extractions</h6>
                    {# <hr style="margin:0;padding:0;color:white;"> #}

                    <div class="nav">

                        {# Onglet1 #}
                        <a class="nav-link collapsed" style="color:white;" href="#" data-bs-toggle="collapse" data-bs-target="#onglet1" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon" ><i style="color:white;" class="fas fa-coins"></i></div>
                            MONETIQUE
                            <div class="sb-sidenav-collapse-arrow"><i style="color:white;" class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" style="font-size:10px;background:url({{asset('assets/images/body-background.png')}});color:white;" id="onglet1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav" >
                                <hr style="margin:0;padding:0;color:black;">
                                <a class="nav-link" href="{{ path('fichiers') }}" style="color:black;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-upload" style="color:black;"></i> Chargements..</div>
                                </a>

                                <hr style="margin:0;padding:0;color:black;">
                                <a class="nav-link" href="{{ path('fichiers') }}" style="color:black;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-folder" style="color:black;"></i> Extractions</div>
                                </a>
                            </nav>
                        </div>

                        <hr style="margin:0;padding:0;color:white;">

                    </div>
                </div>
            </nav>
        </div>


    <div id="layoutSidenav_content" >
        <main  style="
                    background:url({{asset('assets/images/body-background.png')}});
                    background-repeat: no-repeat;background-size: 100% 100%;
                    padding-top:2%;width:100%;height:100%;position:absolute;overflow-y:auto;
               ">
            <div class="container-fluid px-4">
                <h1 class="mt-4">
                    {% block pageTitle %}
                        
                    {% endblock %}
                </h1>
                <div class="">
                    {% for message in app.session.flashBag.get('info') %}
                        <div class="alert alert-info text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% block body %}
                        Template Body
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Gestion RH Orabank Burkina 2023 <strong>Emmanuel Claver DOMBWE</strong></div>
                </div>
            </div>
        </footer>
    </div>
</div>



<div class="loader">
    <h1 style="color:white; marggin-right:3%;">Veuillez Patientez.. </h1> 
    <h1 style="color:#000000;">.</h1> 
</div>



<script src="{{ asset('assets/js/scripts.js') }}"></script>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/datatables-simple-demo.js') }}"></script>
<script src="{{ asset('node_modules/axios/dist/axios.min.js') }}"></script>
<script src="{{ asset('node_modules/select2/dist/js/select2.min.js')}}"></script>
<script src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.min.js')}}"></script>
<link href="{{ asset('node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}" rel="stylesheet"/>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/loader-script.js') }}"></script>
<script src="{{ asset('assets/js/upload-file.js') }}"></script>
<script src="{{ asset('assets/js/simple-datatable.js') }}" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/script/fichier.js') }}"></script>


{{ encore_entry_script_tags('app') }}
{% block javascripts %} {% endblock %}

</body>
</html>

{#{% else %}#}
{#{% do redirect('app_login') %}#}
{#{% endif %}#}
