{% extends 'template.html.twig' %}

{% block title %}Gestion des extractions OBF!{% endblock %}

{% block body %}


<div class="container center" style="margin-bottom:2%;">
    <div class="row">
        <div class="col-md-12">
        <h1 class="white" style="margin-top:1%;"><i class="fas fa-upload" style="color:lime;"></i> Charger un fichier</h1>
        <p class="white">Veuillez importer le fichier dispatching, pour générer votre extraction.</p>
        </div>
    </div>
    <hr style="margin:0;padding:0;color:white;">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12" style="color:white;">
                {{ form_row(form.fichier, {label:'Fichier a charger'} ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="color:white;">
                {{ form_row(form.debut, {label:'Date debut extraction'} ) }}
            </div>
            <div class="col-md-6" style="color:white;">
                {{ form_row(form.fin, {label:'Date fin extraction'} ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success" href="{{ path('fichier.upload') }}" data-tip="edit">
                    <i style = "color:white;" class="fa fa-upload"></i> Charger
                </a>
                {# {{ form_row(form.charger, {label:'Charger'}) }} #}
            </div>
        </div>
    {{ form_end(form) }}

    <div class="row">
    
    </div>

    

</div>



<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Exctractions
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Fichier</th>
                    <th>Extraction</th>
                    <th>Date de chargement</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Fichier</th>
                    <th>Extraction</th>
                    <th>Date de chargement</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Serge Baldwin</td>
                    <td>Data Coordinator</td>
                    <td>2012/04/09</td>
                </tr>
                <tr>
                    <td>Zenaida Frank</td>
                    <td>Software Engineer</td>
                    <td>2010/01/04</td>
                </tr>
                <tr>
                    <td>Zorita Serrano</td>
                    <td>Software Engineer</td>
                    <td>2012/06/01</td>
                </tr>
                <tr>
                    <td>Jennifer Acosta</td>
                    <td>Junior Javascript Developer</td>
                    <td>2013/02/01</td>
                </tr>
                <tr>
                    <td>Cara Stevens</td>
                    <td>Sales Assistant</td>
                    <td>2011/12/06</td>
                </tr>
                <tr>
                    <td>Hermione Butler</td>
                    <td>Regional Director</td>
                    <td>2011/03/21</td>
                </tr>
                <tr>
                    <td>Lael Greer</td>
                    <td>Systems Administrator</td>
                    <td>2009/02/27</td>
                </tr>
                <tr>
                    <td>Jonas Alexander</td>
                    <td>Developer</td>
                    <td>2010/07/14</td>
                </tr>
                <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>2008/11/13</td>
                </tr>
                <tr>
                    <td>Michael Bruce</td>
                    <td>Javascript Developer</td>
                    <td>2011/06/27</td>
                </tr>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>2011/01/25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
